{% load guest_user %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Friend reminder</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <script>
        const timeZoneName = Intl.DateTimeFormat().resolvedOptions().timeZone
        if (!document.cookie.includes('timezone')) {
            document.cookie = 'timezone=' + encodeURIComponent(timeZoneName) + '; path=/'
            location.reload()
        }
    </script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <a href='{% url 'home' %}'>Home</a> |
    {% if user|is_guest_user %}
    <a href='{% url 'login' %}'>Login</a> |
    <a href='{% url 'guest_user_convert' %}'>Sign up and save your data!</a>
    {% elif user.is_authenticated %}
    <!--TODO: if subscribed don't show subscribe button - show manage account button-->
    <a href='{% url 'subscribe' %}'>Subscribe (£1/mth)</a> |
    <a href='{% url 'logout' %}'>Log Out</a>
    {% endif %}
    {% block body %}
    {% endblock %}
</body>
</html>
