{% extends 'base.html' %}

{% block body %}
<h1>Friend Info - {{ friend.name }}</h1>
<ul>
    <li>Every {{ friend.remind_period_days }} days</li>
    <li>
        Next: {{ friend.next_reminder }}
        <form method='POST' action='{% url 'friend_remind-tomorrow' id=friend.pk %}''>
            {% csrf_token %}
            <input type='submit' value='Remind Tomorrow'>
        </form>
    </li>
    <li>Created: {{ friend.created_at }}</li>
</ul>
<form method='POST'>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type='submit' value='Update'>
</form>
<br>
<form method='POST'>
    {% csrf_token %}
    <input type='hidden' name='_method' value='DELETE'>
    <input type='submit' value='Delete'>
</form>
{% endblock %}
