{% extends 'base.html' %}
{% load webpush_notifications %}



{% block head %}
{% webpush_header %}
{% endblock %}


{% block body %}
<h2>Friends</h2>
<ul>
{% for friend in friends %}
    <li><a href='{% url 'friend' id=friend.pk %}'>{{ friend.name }}</a> - Every {{ friend.remind_period_days }} days - Next: {{ friend.next_reminder }} - Created: {{ friend.created_at }}</li>
{% endfor %}
</ul>

<h2>Add Friend</h2>
<form method='POST'>
    {% csrf_token %}
    <table>
        {{ friend_form.as_table }}
    </table>
    <input type='submit' value='Create'>
</form>

<h2>Test push</h2>
{% webpush_button %}
<form method='POST' action='{% url 'test_push' %}'>
    {% csrf_token %}
    <input type='submit' value='Send Test Notification'>
</form>
{% endblock %}
