{% extends 'base.html' %}
{% load webpush_notifications %}

{% block head %}
{% webpush_header %}
{% endblock %}

{% block body %}
<h2>Notification Settings</h2>
To receive notifications on this device you must subscribe and allow push notifications.
<br>
You must subscribe to notifications on each device/browser you wish to receive them from (typically your phone).
<br>
Unfortunately push notifications are not supported on iPhone and iPad.
<br>
{% webpush_button %}
<br>
<br>
Once you have subscribed to push notifications, send a test notification. It should say "Hello world!".
<form method='POST' action='{% url 'test_push' %}'>
    {% csrf_token %}
    <input type='submit' value='Send Test Notification'>
</form>

<h2>
    Friends ({{ included_friends|length }} /
    {% if preferences.subscription_status != preferences.SubscriptionStatus.ACTIVE %}
    {{ friend_limit }})
    {% else %}
    Unlimited)
    {% endif %}
</h2>
<ul>
    {% for friend in included_friends %}
    <li>
        <a href='{% url 'friend' id=friend.pk %}'>{{ friend.name }}</a>
        - Every {{ friend.remind_period_days }} days
        - Next: {{ friend.next_reminder }}
        - Created: {{ friend.created_at }}
    </li>
    {% endfor %}
</ul>
{% if excluded_friends %}
<h3><a href='{% url 'subscribe' %}' style='color: black'>Subscribe to Friend Reminder Unlimited</a> to receive notifications for these friends (£1/mth)</h3>
<ul style='color: grey;'>
    {% for friend in excluded_friends %}
    <li>
        <a href='{% url 'friend' id=friend.pk %}'>{{ friend.name }}</a>
        - Every {{ friend.remind_period_days }} days
        - Next: {{ friend.next_reminder }}
        - Created: {{ friend.created_at }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<h2>Add Friend</h2>
<form method='POST'>
    {% csrf_token %}
    <table>
        {{ friend_form.as_table }}
    </table>
    <input type='submit' value='Create'>
</form>

{% endblock %}
